USE [master]
GO
/****** Object:  Database [cTrader]    Script Date: 25.12.2025 19:17:00 ******/
CREATE DATABASE [cTrader]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cTrader', FILENAME = N'F:\DATA\cTraderData\cTrader.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cTrader_log', FILENAME = N'F:\DATA\cTraderData\cTrader_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cTrader].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cTrader]
GO
/****** Object:  User [SSAS_Processor]    Script Date: 25.12.2025 19:17:00 ******/
CREATE USER [SSAS_Processor] FOR LOGIN [SSAS_Processor] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SERVER\Sasha]    Script Date: 25.12.2025 19:17:00 ******/
CREATE USER [SERVER\Sasha] FOR LOGIN [SERVER\Sasha] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [anfan]    Script Date: 25.12.2025 19:17:00 ******/
CREATE USER [anfan] FOR LOGIN [anfan] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_datareader] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [SSAS_Processor]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [SSAS_Processor]
GO
/****** Object:  Schema [inf]    Script Date: 25.12.2025 19:17:00 ******/
CREATE SCHEMA [inf]
GO
/****** Object:  Schema [ref]    Script Date: 25.12.2025 19:17:00 ******/
CREATE SCHEMA [ref]
GO
/****** Object:  Schema [rep]    Script Date: 25.12.2025 19:17:00 ******/
CREATE SCHEMA [rep]
GO
/****** Object:  Schema [trd]    Script Date: 25.12.2025 19:17:00 ******/
CREATE SCHEMA [trd]
GO
/****** Object:  UserDefinedFunction [ref].[GetAssetID]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [ref].[GetAssetID](@ticker NVARCHAR(50))
RETURNS INT
AS
BEGIN
    DECLARE @assetID INT;
    
    -- Find existing asset
    SELECT @assetID = ID 
    FROM ref.asset 
    WHERE ticker = @ticker;
    
    -- Return the ID (or NULL if not found)
    RETURN @assetID;
END

GO
/****** Object:  Table [inf].[testInfo]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [inf].[testInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[infMessage] [nvarchar](255) NULL,
	[modified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ref].[asset]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ref].[asset](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ticker] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[unit] [nvarchar](20) NOT NULL,
	[lot_size] [decimal](18, 2) NOT NULL,
	[pip_size] [decimal](18, 6) NOT NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ticker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[account]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[accountNumber] [varchar](50) NOT NULL,
	[accountTypeID] [int] NOT NULL,
	[platformID] [int] NOT NULL,
	[brokerID] [int] NOT NULL,
	[clientID] [int] NOT NULL,
	[currencyID] [int] NOT NULL,
	[modifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_account_broker_account] UNIQUE NONCLUSTERED 
(
	[brokerID] ASC,
	[accountNumber] ASC,
	[platformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[accountType]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[accountType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[typeCode] [varchar](20) NOT NULL,
	[typeName] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[leverage] [decimal](10, 2) NULL,
	[minDeposit] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[typeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[broker]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[broker](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[brokerCode] [varchar](20) NOT NULL,
	[brokerName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[website] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[brokerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[client]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[client](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[clientCode] [varchar](20) NOT NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[lastName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[clientCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[currency]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[currency](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[currencyCode] [char](3) NOT NULL,
	[currencyName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[currencyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[platform]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[platform](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[platformCode] [varchar](20) NOT NULL,
	[platformName] [nvarchar](100) NOT NULL,
	[platformVersion] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[platformCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[position]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[position](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[accountID] [int] NOT NULL,
	[positionTicket] [varchar](50) NOT NULL,
	[assetID] [int] NOT NULL,
	[volume] [decimal](18, 2) NOT NULL,
	[margin] [decimal](18, 2) NOT NULL,
	[direction] [char](4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_position_account_ticket] UNIQUE NONCLUSTERED 
(
	[accountID] ASC,
	[positionTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[positionStartFinish]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[positionStartFinish](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[positionID] [int] NOT NULL,
	[openPrice] [decimal](18, 6) NOT NULL,
	[closePrice] [decimal](18, 6) NULL,
	[openTime] [datetime] NOT NULL,
	[closeTime] [datetime] NULL,
	[openBalance] [decimal](18, 2) NULL,
	[closeBalance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [trd].[positionState]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [trd].[positionState](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[positionID] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[currentPrice] [decimal](18, 6) NOT NULL,
	[commission] [decimal](18, 2) NULL,
	[swap] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_account_accountNumber]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_account_accountNumber] ON [trd].[account]
(
	[accountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_account_accountTypeID]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_account_accountTypeID] ON [trd].[account]
(
	[accountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_account_brokerID]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_account_brokerID] ON [trd].[account]
(
	[brokerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_account_clientID]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_account_clientID] ON [trd].[account]
(
	[clientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_account_currencyID]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_account_currencyID] ON [trd].[account]
(
	[currencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_account_platformID]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_account_platformID] ON [trd].[account]
(
	[platformID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_currency_currencyCode]    Script Date: 25.12.2025 19:17:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_currency_currencyCode] ON [trd].[currency]
(
	[currencyCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_platform_platformCode]    Script Date: 25.12.2025 19:17:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_platform_platformCode] ON [trd].[platform]
(
	[platformCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_position_account_asset_direction]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_position_account_asset_direction] ON [trd].[position]
(
	[accountID] ASC,
	[assetID] ASC,
	[direction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_position_account_direction]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_position_account_direction] ON [trd].[position]
(
	[accountID] ASC,
	[direction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_position_direction]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_position_direction] ON [trd].[position]
(
	[direction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_position_volume]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_position_volume] ON [trd].[position]
(
	[volume] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_positionStartFinish_closeTime]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_positionStartFinish_closeTime] ON [trd].[positionStartFinish]
(
	[closeTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_positionStartFinish_openTime]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_positionStartFinish_openTime] ON [trd].[positionStartFinish]
(
	[openTime] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_positionState_timestamp]    Script Date: 25.12.2025 19:17:00 ******/
CREATE NONCLUSTERED INDEX [IX_positionState_timestamp] ON [trd].[positionState]
(
	[timestamp] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [inf].[testInfo] ADD  DEFAULT (getdate()) FOR [modified]
GO
ALTER TABLE [ref].[asset] ADD  DEFAULT ((100000)) FOR [lot_size]
GO
ALTER TABLE [ref].[asset] ADD  DEFAULT ((0.0001)) FOR [pip_size]
GO
ALTER TABLE [ref].[asset] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [trd].[account] ADD  DEFAULT (getdate()) FOR [modifiedDate]
GO
ALTER TABLE [trd].[positionState] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [trd].[positionState] ADD  DEFAULT ((0)) FOR [commission]
GO
ALTER TABLE [trd].[positionState] ADD  DEFAULT ((0)) FOR [swap]
GO
ALTER TABLE [trd].[account]  WITH CHECK ADD FOREIGN KEY([accountTypeID])
REFERENCES [trd].[accountType] ([ID])
GO
ALTER TABLE [trd].[account]  WITH CHECK ADD FOREIGN KEY([brokerID])
REFERENCES [trd].[broker] ([ID])
GO
ALTER TABLE [trd].[account]  WITH CHECK ADD FOREIGN KEY([clientID])
REFERENCES [trd].[client] ([ID])
GO
ALTER TABLE [trd].[account]  WITH CHECK ADD FOREIGN KEY([currencyID])
REFERENCES [trd].[currency] ([ID])
GO
ALTER TABLE [trd].[account]  WITH CHECK ADD FOREIGN KEY([platformID])
REFERENCES [trd].[platform] ([ID])
GO
ALTER TABLE [trd].[position]  WITH CHECK ADD FOREIGN KEY([accountID])
REFERENCES [trd].[account] ([ID])
GO
ALTER TABLE [trd].[position]  WITH CHECK ADD FOREIGN KEY([assetID])
REFERENCES [ref].[asset] ([ID])
GO
ALTER TABLE [trd].[positionStartFinish]  WITH CHECK ADD FOREIGN KEY([positionID])
REFERENCES [trd].[position] ([ID])
GO
ALTER TABLE [trd].[positionState]  WITH CHECK ADD FOREIGN KEY([positionID])
REFERENCES [trd].[position] ([ID])
GO
ALTER TABLE [trd].[position]  WITH CHECK ADD CHECK  (([direction]='SELL' OR [direction]='BUY'))
GO
ALTER TABLE [trd].[position]  WITH CHECK ADD  CONSTRAINT [CK_position_direction] CHECK  (([direction]='SELL' OR [direction]='BUY'))
GO
ALTER TABLE [trd].[position] CHECK CONSTRAINT [CK_position_direction]
GO
/****** Object:  StoredProcedure [ref].[GetOrCreateAssetID]    Script Date: 25.12.2025 19:17:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ref].[GetOrCreateAssetID]
    @ticker NVARCHAR(50),
    @assetID INT OUTPUT
AS
BEGIN
    -- Try to find existing asset
    SELECT @assetID = ID 
    FROM ref.asset 
    WHERE ticker = @ticker;
    
    -- If not found, insert new asset with default values
    IF @assetID IS NULL
    BEGIN
        INSERT INTO ref.asset (ticker, name, unit, lot_size, pip_size)
        VALUES (@ticker, @ticker, 'PIPS', 100000, 0.0001);
        
        SET @assetID = SCOPE_IDENTITY();
    END
END

GO
USE [master]
GO
