USE [cTrader]
GO


ALTER PROCEDURE [trd].[GetAccountInfo]
    @accountNumber VARCHAR(50),
    @brokerCode VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        a.ID AS AccountID,
        a.accountNumber,
        at.typeCode AS AccountTypeCode,
        at.typeName AS AccountTypeName,
        p.platformCode,
        p.platformName,
        b.brokerCode,
        b.brokerName,
        c.currencyCode,
        c.currencyName,
        cl.firstName + ' ' + cl.lastName AS ClientName,
        cl.email AS ClientEmail,
        a.modifiedDate,
        (SELECT COUNT(*) FROM trd.position WHERE accountID = a.ID) AS OpenPositions
    FROM trd.account a
		LEFT JOIN trd.accountType at ON a.accountTypeID = at.ID
		LEFT JOIN trd.[platforms] p ON a.platformID = p.ID
		LEFT JOIN trd.brokers b ON a.brokerID = b.ID
		LEFT JOIN trd.currency c ON a.currencyID = c.ID
		LEFT JOIN trd.client cl ON a.clientID = cl.ID
    WHERE a.accountNumber = @accountNumber
      AND (@brokerCode IS NULL OR b.brokerCode = @brokerCode);
END
go

declare     @accountNumber VARCHAR(50) = '5163454',
			@brokerCode VARCHAR(20) = 'Pepperstone'

exec [trd].[GetAccountInfo] @accountNumber, @brokerCode

select * From trd.brokers
select * From trd.account
select * from trd.accountType
select * from trd.platforms
select * from trd.client

if OBJECT_ID ('trd.sp_GetAccount') is not null drop proc trd.sp_GetAccount
go
create proc trd.sp_GetAccount 
	@accountNum varchar(50),
	@accountTypeCode varchar(20), 
	@platformCode varchar (20), 
	@brokerName varchar(100) 
as 
Begin try
	begin transaction;
	with s as (
		select 
			 ID =2
			, accountNumber  = @accountNum
			, accountTypeID = t.ID 
			, platformID  =  p.ID
			, brokerID  = b.ID
			, clientID = cl.ID
			, currencyID  = c.ID
			, modifiedDate = cast(getdate()as datetime)
		from 
			trd.client cl
			cross apply (select ID from trd.brokers br where br.brokerName = @brokerName) as b
			cross apply (select ID from trd.accountType tp where tp.typeCode = @accountTypeCode) as t
			cross apply (select ID from trd.currency cr where cr.currencyCode = 'USD') as c
			cross apply (select ID from trd.platforms pt where pt.platformCode = @platformCode ) as p
		where cl.ID =  1
	)
	merge trd.account  as t using s
		 on t.accountNumber = s.accountNumber
		and t.accountTypeID = s.accountTypeID
		and t.platformID = s.platformID
		and t.brokerID = s.brokerID
		and t.clientID = s.clientID
		and t.currencyID = s.currencyID
	when not matched then 
		insert (accountNumber, accountTypeID, platformID, brokerID, clientID, currencyID, modifiedDate)
		values (accountNumber, accountTypeID, platformID, brokerID, clientID, currencyID, modifiedDate);
	commit transaction
end try
begin catch
	rollback transaction
	select ERROR_MESSAGE();
end catch
go

declare 
	@accountNum varchar(50) = '5163454',
	@accountTypeCode varchar(20) = 'DEMO', 
	@platformCode varchar (20) = 'CTRADER', 
	@brokerName varchar(100)  = 'Pepperstone'
	;
exec trd.sp_GetAccount
	 @accountNum
	, @accountTypeCode 
	, @platformCode 
	, @brokerName 

;
select * from trd.account;
